# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Normalize environment
.ruby-version
.ruby-gemset

# Ignore Byebug command history file.
.byebug_history

# Ignore application configuration
config/application.yml

# Ignore database configuration.
config/database.yml

# Ignore .rspec file
/.rspec

# Ignore .env file
/.env
/.env.*
/!.env.example

# Ignore binary files
**/.DS_Store

# Ignore Rubocop configuration
.rubocop.yml

# Ignore coverage folder
coverage/

# Ignore redis binary dump files (dump.rdb)
*.rdb

.idea/

# Ignore carrierwave uploads
public/uploads

# Ignore node_modules folder
node_modules/

# Ignore entity-relation diagram
docs/class_diagram.pdf
.erdconfig

# Word temporary
~$*.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk
