
<br/>
<h1>Planillas Menuslaes</h1>

<table class="table table table-hover table table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Predio:</th>
      <th>Fecha:</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @payrolls.each do |payroll| %>
      <tr>
        <td><%= link_to payroll.estate.name, payroll %></td>
        <td><%= payroll.saved_date %></td>
        <td><%= link_to 'Eliminar', payroll, method: :delete, data: { confirm: 'Estas seguro de querer eliminar esta Planilla?' }, class:"btn btn-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Planilla', new_payroll_path, class:"btn btn-secondary btn-sm" %>
