$theme-colors: (
  'primary': #ef5350,
  'secondary': #607d8b,
  'warning': #dc3545,
  'danger': rgba(244, 67, 54, 0.5),
  'dark-grey': #A9A9A9,
  'blue-grey': #D8DAFD,
  'dark': #000000,
  'info': rgba(205, 203, 252, 1)
);

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import 'bootstrap';
@import 'font-awesome';
@import 'reports.scss';

// Number fields
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}

// Textarea
textarea {
  resize: none;
}

// Images
.img-mdim-50 {
  max-height: 50px;
  max-width: 50px;
}