/* * =  requiere  rails_bootstrap_forms */
 
@font-face {
    font-family: 'Roboto Condensed', sans-serif;
    src: url(/app/assets/stylesheets/fonts/RobotoCondensed-Light.ttf);
}

h4{
     color: rgb(159, 159, 163);
     font-family: 'Roboto Condensed', sans-serif;
 }

h3{
    color: rgb(87, 87, 90);
    font-family: 'Roboto Condensed', sans-serif;
}

th{
    font-family: 'Roboto Condensed', sans-serif;
}

